/* style.css */

/*
연보라 #8884FF
민트 #18C6B5
글자 #444444
*/
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */


@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1::selection, p::selection {
    background-color: #8884FF;
    }
*{margin: 0; padding: 0;}
body{
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #444444;
}
ul{list-style: none;}
ol{list-style: none;}
a{color: #444444; text-decoration: none;}
html{scroll-behavior: smooth; height: 100%;}



/* 타이핑 */

#intro > .typing {
    font-size: 48px;
}
.typing-txt{display: none;}
.typeing-txt ul{list-style:none;}
.typing {
    font-size: 52px;
    color: #8884FF;
    display: inline; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite;
    /* outline: 1px solid red; */
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff}
}



/* intro */
#wrap {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
}
#intro {
    width: 1200px;
    margin: 0 auto;
    height: 880px;
    padding-top: 150px;
}
#intro > h1 {
    color: #fff;
    font-size: 48px;
    line-height: 1.3em;
    /* margin-bottom: 40px; */
}
#intro > p {
    /* width: 260px; */
    margin-top: 40px;
    font-size: 20px;
    color: #8884ff;
}
#intro > #call {
    position: absolute;
    top: 800px;
}
#intro > #call p {
    color: #8884FF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
#intro > #call .phone {
    color: #fff;
    margin-top: 20px;
}
#intro > #call .mail {
    color: #fff;
}


/* about me */
#about {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
}
#about_me {
    width: 1200px;
    height: 880px;
    padding-top: 200px;
    margin: 0 auto;
    position: relative;
    /* background-color: #e9e9e9; */
}
#who > img {
    margin-bottom: 50px;
    border-radius: 50%;
}
#who > .name {
    font-size: 16px;
    font-weight: 500;
}
#who > .name > strong {
    font-size: 30px;
}
#who > #name_line {
    width: 30px;
    height: 2px;
    background: #000;
    margin-top: 30px;
    margin-bottom: 30px;
}
#who > #introduce {
    font-size: 16px;
    font-weight: medium;
}

.left {
    position: absolute;
    left: 500px;
    top: 500px;
}
.left > h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #8884FF;
}
.left > p {
    font-weight: medium;
}
.left > p > span {
    font-size: 24px;
    font-weight: 500;
}

.right {
    position: absolute;
    right: 200px;
    top: 500px;
    font-family: 'Montserrat', sans-serif;
}
.right > h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #8884FF;
}
.right > .sk_list > li {
    font-size: 16px;
}
.right > .sk_bar {
    position: absolute;
    right: -200px;
    bottom: -9px;
    text-indent: -9999px;
}
.right > .sk_bar > li {
    margin-bottom: 10px;
}
.right > .sk_bar > .sk70 {
    width: 170px;
    height: 13px;
    background: #ccc;
}
.right > .sk_bar > .sk75 {
    width: 170px;
    height: 13px;
    background: #ccc;
}
.right > .sk_bar > .sk80 {
    width: 170px;
    height: 13px;
    background: #ccc;
}
.right > .sk_bar > .sk85 {
    width: 170px;
    height: 13px;
    background: #ccc;
}

.right > #sk_bar {
    position: absolute;
    right: -180px;
    bottom: -9px;
    text-indent: -9999px;
}
.right > #sk_bar > li {
    margin-bottom: 10px;
}
.right > #sk_bar > #sk70 {
    width: 125px;
    height: 13px;
    background: #8884FF;
}
.right > #sk_bar > #sk75 {
    width: 130px;
    height: 13px;
    background: #8884ff;
}
.right > #sk_bar > #sk80 {
    width: 140px;
    height: 13px;
    background: #8884ff;
}
.right > #sk_bar > #sk85 {
    width: 150px;
    height: 13px;
    background: #8884ff;
}


/* zoo coffee intro */
#zoo_intro {
    width: 100%;
    height: 100%;
    background: #4D3F3A;
}
#zoo_wrap {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 1080px;
    background: #4D3F3A;
}
#zoo_wrap > div {
    position: absolute;
    right: 0;
    top: 540px;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}
#zoo_wrap > p {
    position: absolute;
    top: 850px;
    right: 0;
    font-size: 18px;
    font-weight: medium;
    color: #fff;
}
#zoo_wrap > #zooline {
    position: absolute;
    right: 144px;
    top: 835px;
    width: 30px;
    height: 2px;
    background: #fff;
}


/* zoo coffee */
#zoo {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
.zoo_wrap {
    position: relative;
    width: 1200px;
    height: 1080px;
    margin: 0 auto;
    background: #EEEEEE;
}
.zoo_wrap > .headtxt > h1 {
    position: absolute;
    right: -4px;
    top: 195px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #4D3F3A;
}
.zoo_wrap > .headtxt > p {
    position: absolute;
    right: 0;
    top: 265px;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
}
.zoo_left > .imac {
    position: absolute;
    width: 1170px;
    left: -280px;
    top: 100px;
}
.zoo_left > .ipad {
    position: absolute;
    width: 950px;
    left: 150px;
    top: 275px;
}
.zoo_wrap > a > .mp {
    position: absolute;
    top: 880px;
    left: 141px;
    font-size: 12px;
    font-weight: bold;
    width: 144px;
    height: 44px;
    border: 1px solid #000;
    text-align: center;
    line-height: 44px;
}
.zoo_wrap > a > .sp {
    position: absolute;
    top: 880px;
    left: 326px;
    font-size: 12px;
    font-weight: bold;
    width: 144px;
    height: 44px;
    border: 1px solid #000;
    text-align: center;
    line-height: 44px;
}
.zoo_wrap > a > .mp:hover {
    background: #4D3F3A;
    color: #fff;
    transition: 0.3s;
}
.zoo_wrap > a > .sp:hover {
    background: #4D3F3A;
    color: #fff;
    transition: 0.3s;
}
.zoo_right > .day > p:first-child {
    position: absolute;
    top: 400px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.zoo_right > .day > p:last-child {
    position: absolute;
    top: 434px;
    left: 820px;
}
.zoo_right > .keyword > p:first-child {
    position: absolute;
    top: 501px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.zoo_right > .keyword > p:last-child {
    position: absolute;
    top: 535px;
    left: 820px;
}
.zoo_right > .color > p {
    position: absolute;
    top: 602px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.zoo_right > .color > li:nth-child(2) {
    position: absolute;
    top: 636px;
    left: 820px;
    width: 40px; height: 40px;
    background: #4D3F3A;
}
.zoo_right > .color > li:nth-child(3) {
    position: absolute;
    top: 636px;
    left: 870px;
    width: 40px; height: 40px;
    background: #707070;
}
.zoo_right > .color > li:nth-child(4) {
    position: absolute;
    top: 636px;
    left: 920px;
    width: 40px; height: 40px;
    background: #BFC06C;
}
.zoo_right > .purpose > p:first-child {
    position: absolute;
    top: 743px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.zoo_right > .purpose > p:last-child {
    position: absolute;
    top: 781px;
    left: 820px;
}


/* caffebene intro */
#bene_intro {
    width: 100%;
    height: 100%;
    background: #008392;
}
#bene_wrap {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 1080px;
    background: #008392;
}
#bene_wrap > h1 {
    position: absolute;
    right: 0;
    top: 540px;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}
#bene_wrap > p {
    position: absolute;
    top: 850px;
    right: 0;
    font-size: 18px;
    font-weight: medium;
    color: #fff;
}
#bene_wrap > #beneline {
    position: absolute;
    right: 144px;
    top: 835px;
    width: 30px;
    height: 2px;
    background: #fff;
}


/* caffebene */
#bene {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
.bene_wrap {
    position: relative;
    width: 1200px;
    height: 1080px;
    margin: 0 auto;
    background: #EEEEEE;
}
.bene_wrap > .headtxt > h1 {
    position: absolute;
    right: -4px;
    top: 195px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #008392;
}
.bene_wrap > .headtxt > p {
    position: absolute;
    right: 0;
    top: 265px;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
}
.bene_left > .imac {
    position: absolute;
    width: 1170px;
    left: -280px;
    top: 100px;
}
.bene_left > .ipad {
    position: absolute;
    width: 950px;
    left: 150px;
    top: 275px;
}
.bene_wrap > a > .mp {
    position: absolute;
    top: 880px;
    left: 141px;
    font-size: 12px;
    font-weight: bold;
    width: 144px;
    height: 44px;
    border: 1px solid #000;
    text-align: center;
    line-height: 44px;
}
.bene_wrap > a > .sp {
    position: absolute;
    top: 880px;
    left: 326px;
    font-size: 12px;
    font-weight: bold;
    width: 144px;
    height: 44px;
    border: 1px solid #000;
    text-align: center;
    line-height: 44px;
}
.bene_wrap > a > .mp:hover {
    background: #008392;
    color: #fff;
    transition: 0.3s;
}
.bene_wrap > a > .sp:hover {
    background: #008392;
    color: #fff;
    transition: 0.3s;
}
.bene_right > .day > p:first-child {
    position: absolute;
    top: 400px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.bene_right > .day > p:last-child {
    position: absolute;
    top: 434px;
    left: 820px;
}
.bene_right > .keyword > p:first-child {
    position: absolute;
    top: 501px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.bene_right > .keyword > p:last-child {
    position: absolute;
    top: 535px;
    left: 820px;
}
.bene_right > .color > p {
    position: absolute;
    top: 602px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.bene_right > .color > li:nth-child(2) {
    position: absolute;
    top: 636px;
    left: 820px;
    width: 40px; height: 40px;
    background: #203053;
}
.bene_right > .color > li:nth-child(3) {
    position: absolute;
    top: 636px;
    left: 870px;
    width: 40px; height: 40px;
    background: #008392;
}
.bene_right > .color > li:nth-child(4) {
    position: absolute;
    top: 636px;
    left: 920px;
    width: 40px; height: 40px;
    background: #6D8FAB;
}
.bene_right > .purpose > p:first-child {
    position: absolute;
    top: 743px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.bene_right > .purpose > p:last-child {
    position: absolute;
    top: 781px;
    left: 820px;
}


/* jb자산운용 intro */
#jb_intro {
    width: 100%;
    height: 100%;
    background: #00286C;
}
#jb_wrap {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 1080px;
    background: #00286C;
}
#jb_wrap > h1 {
    position: absolute;
    right: 0;
    top: 540px;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}
#jb_wrap > p {
    position: absolute;
    top: 850px;
    right: 0;
    font-size: 18px;
    font-weight: medium;
    color: #fff;
}
#jb_wrap > #jbline {
    position: absolute;
    right: 144px;
    top: 835px;
    width: 30px;
    height: 2px;
    background: #fff;
}


/* jb자산운용 */
#jb {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
.jb_wrap {
    position: relative;
    width: 1200px;
    height: 1080px;
    margin: 0 auto;
    background: #EEEEEE;
}
.jb_wrap > .headtxt > h1 {
    position: absolute;
    right: -4px;
    top: 195px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #00286C;
}
.jb_wrap > .headtxt > p {
    position: absolute;
    right: 0;
    top: 265px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
}
.jb_left > .imac {
    position: absolute;
    width: 1170px;
    left: -280px;
    top: 100px;
}
.jb_left > .ipad {
    position: absolute;
    width: 950px;
    left: 150px;
    top: 275px;
}
.jb_wrap > a > .mp {
    position: absolute;
    top: 880px;
    left: 141px;
    font-size: 12px;
    font-weight: bold;
    width: 144px;
    height: 44px;
    border: 1px solid #000;
    text-align: center;
    line-height: 44px;
}
.jb_wrap > a > .sp {
    position: absolute;
    top: 880px;
    left: 326px;
    font-size: 12px;
    font-weight: bold;
    width: 144px;
    height: 44px;
    border: 1px solid #000;
    text-align: center;
    line-height: 44px;
}
.jb_wrap > a > .mp:hover {
    background: #00286C;
    color: #fff;
    transition: 0.3s;
}
.jb_wrap > a > .sp:hover {
    background: #00286C;
    color: #fff;
    transition: 0.3s;
}
.jb_right > .day > p:first-child {
    position: absolute;
    top: 400px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.jb_right > .day > p:last-child {
    position: absolute;
    top: 434px;
    left: 820px;
}
.jb_right > .keyword > p:first-child {
    position: absolute;
    top: 501px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.jb_right > .keyword > p:last-child {
    position: absolute;
    top: 535px;
    left: 820px;
}
.jb_right > .color > p {
    position: absolute;
    top: 602px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.jb_right > .color > li:nth-child(2) {
    position: absolute;
    top: 636px;
    left: 820px;
    width: 40px; height: 40px;
    background: #00286C;
}
.jb_right > .color > li:nth-child(3) {
    position: absolute;
    top: 636px;
    left: 870px;
    width: 40px; height: 40px;
    background: #2A62BF;
}
.jb_right > .color > li:nth-child(4) {
    position: absolute;
    top: 636px;
    left: 920px;
    width: 40px; height: 40px;
    background: #5F5AFF;
}
.jb_right > .purpose > p:first-child {
    position: absolute;
    top: 743px;
    left: 820px;
    font-size: 18px;
    font-weight: bold;
}
.jb_right > .purpose > p:last-child {
    position: absolute;
    top: 781px;
    left: 820px;
}


/* other works */
#ow {
    width: 100%;
    height: 100%;
    background: #333;
}
.ow_wrap {
    position: relative;
    width: 1200px;
    height: 1080px;
    margin: 0 auto;
    background: #333;
    color: #fff;
}
.ow_wrap > h1 {
    font-size: 52px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.ow_wrap > a {
    float: left;
    width: 360px;
    height: 360px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.ow_wrap > a > img {
    width: 360px;
    height: 360px;
}

.ow_wrap > a {
    position: relative;
}
.ow_wrap > a > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}
.ow_wrap > a:hover > img {
    opacity: 0.3;
    transition: 0.5s;
}
.ow_wrap > a:hover > p {
    opacity: 1;
    transition: 0.5s;
    text-align: center;
}




/* outro */
#outwrap {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
}
#outro {
    width: 1200px;
    margin: 0 auto;
    height: 880px;
    padding-top: 150px;
}
#outro > h1 {
    color: #fff;
    font-size: 48px;
    line-height: 1.3em;
}
#outro > .endtyping {
    margin-top: 40px;
}
#outro > p {
    width: 260px;
    font-size: 20px;
    color: #8884ff;
}
#outro > #outcall {
    position: absolute;
    bottom: 100px;
}
#outro > #outcall p {
    color: #8884FF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
#outro > #outcall .phone {
    color: #fff;
    margin-top: 20px;
}
#outro > #outcall .mail {
    color: #fff;
}




/* pager */
.pager {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: 650px;
    z-index: 99;
}
.pager li {
    margin-bottom: 10px;
}
.pager li a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 0.3s;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.pager li a:hover {
    color: #8884FF;
}
.pager li p {
    display: inline-block;
    width: 3px;
    background: #fff;
    height: 20px;
    margin-bottom: -6px;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}


.pager .on p {background: #8884FF;}

.pager .on {color: #8884ff;}





/* font-family: 'Montserrat', sans-serif; */
